
   <%-           include('partials/header3');         -%>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-podcast'></i>
      <span class="logo_name">Admin</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-user' ></i>
            <span class="links_name">Employees</span>
          </a>
        </li>
        <li class="back">
          <a href="#">
            <i class='bx bx-arrow-back'></i>
            <span class="links_name">Back</span>
          </a>
        </li>

        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name" class="log_out" onclick="logout()">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Manage Employees</span>
      </div>
      
    
      <div class="profile-details">
        <img src="/admin.jpg" alt="">
        <span class="admin_name">Anjali</span>

      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Employees</div>
            <div class="number"> <%= emp.length %></div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span> -->
            </div>
          </div>
          <!-- <i class='bx bxs-cart-add cart two' ></i> -->
        </div>
       
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Add Employees</div>
            <!-- <div class="number">11,086</div> -->
            <!-- <div class="indicator">
              <i class='bx bx-add-to-queue'></i>
              <span class="text">Down From Today</span>
            </div> -->
          </div>
          <button class="add_emp"><a href="#" style="font-size:37px;"><i class='bx bx-add-to-queue'></i></a></button>
        </div>
      </div>
      

           
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Employees list
            <span><i class='bx bxs-cart-add cart two' ></i></span>
          </div>
          
          <table style="width:100%">
            <tr>
              <div class="sales-details">
            
              <th><ul class="details">
                <li class="topic">Name</li>
              </ul></th>
            
              <th><ul class="details">
                <li class="topic">Department</li>
              </ul></th>
          
              <th><ul class="details">
                <li class="topic">Email</li>
              </ul></th>
                
              <th><ul class="details">
                <li class="topic">Mobile No.</li>
              </ul></th>

              <th><ul class="details">
                <li class="topic">Del Emp</li>
              </ul></th>
          
              <th><ul class="details">
                <li class="topic">Update Emp</li>
              </ul></th>
              </div>

            </tr>
              
            <div class="sales-details">
              <tr>
            
              <% for(var i=0; i<emp.length; i++) {%>
              <div class="sales-details">

              <th><ul class="details">
                <li><a href="#"> <%= emp[i].name %></ a></li>
              </ul></th>
          
              <th><ul class="details">
                <li><a href="#"> <%= emp[i].department %></a></li>
              </ul></th>
        
              <th><ul class="details">
                <li><a href="#"> <%= emp[i].email %></a></li>
              </ul></th>

              <th><ul class="details">
                <li><a href="#"> <%= emp[i].mobile %></a></li>
              </ul></th>
              
              <th><ul class="details">
                <li><a href="#" style="text-align:center;" id="del_emp" onclick="deleteItem(`<%= emp[i]._id %>`)"><i class='bx bx-message-square-minus Del-Emp'></i></a></li>
              </ul></th>
          
              <th><ul class="details">
                <button class="update_emp"><li><a href="/update-emp/<%= emp[i]._id %>" style="text-align:center;font-size:20px;"  ><i class='bx bx-refresh Del-Emp'></i></a></li></button>
              </ul></th>

              </tr>
            </div>
        </div>
          <% } %>

        </table><br>

        <%if(emp.length == 0 ){ %>
          <div style="text-align:center;">
            <h1><b>NO DATA AVAILABLE</b></h1> 
          </div>
        <% } %>


        </div>
        </div>
      </div>
    </div>
  </section>

  <script>
 
let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}


  let back = document.querySelector(".back");
  back.onclick = function() {
    location.assign("/admin-dashboard")
  }

  let addEmp = document.querySelector(".add_emp");
  addEmp.onclick = function() {
      location.assign("/add-emp");
  }

  let updateEmp = document.querySelector(".update_emp");
  updateEmp.onclick = function(){
      location.assign("/update-emp");
  }

  async function deleteItem(id) {
    const deleted = await fetch(`/delete-emp/${id}`, {
    method: "DELETE",
    headers: {"Content-Type":"application/json"}
      });
      location.reload();
  };

  async function updateItem(id) {
    const deleted = await fetch(`/update-emp/${id}`, {
    method: "PUT",
    headers: {"Content-Type":"application/json"}
      }); 
      
  };
  async function logout(){
    location.assign("/admin-logout");
    // console.log("logged out");

  };

 </script>

</body>
</html>

