<%-         include('partials/header3');       -%>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-podcast'></i>
      <span class="logo_name">Admin</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bxs-rocket' ></i>
            <span class="links_name">Leaves</span>
          </a>
        </li>
        <li>

        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Manage Leaves</span>
      </div>
    
      <div class="profile-details">
        <img src="/admin.jpg" alt="">
        <span class="admin_name">Anjali</span>

      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Leaves</div>
            <div class="number"><%= leave.length%></div>
            <div class="indicator">
              <!-- <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span> -->
            </div>
          </div>
          <!-- <i class='bx bxs-cart-add cart two' ></i> -->
        </div>
       
        <!-- <div class="box"> -->
          <!-- <div class="right-side"> -->
            <!-- <div class="box-topic">Add Employees</div> -->
            <!-- <div class="number">11,086</div> -->
            <!-- <div class="indicator">
              <i class='bx bx-add-to-queue'></i>
              <span class="text">Down From Today</span>
            </div> -->
          <!-- </div> -->
          <!-- <a href="#" style="font-size:50px;"><i class='bx bx-add-to-queue'></i></a> -->
        <!-- </div> -->
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Leaves list
            <span><i class='bx bx-paper-plane'></i></span>
          </div>
          
          <table style="width:100%">
          <tr>
          <div class="sales-details">
           
            
            <th><ul class="details">
              <li class="topic">Applicant's name</li>
            </ul></th>
     
            <th><ul class="details">
              <li class="topic">From</li>
            </ul></th>

            <th><ul class="details">
              <li class="topic">To</li>
            </ul></th>

            <th><ul class="details">
              <li class="topic">Reason for leave</li>
            </ul></th>


          <th><ul class="details">
            <li class="topic">Status</li>
          </ul></th>
          </div>
          </tr>

          <div class="sales-details">
            <tr>
          
            <% for(var i=0; i < leave.length; i++) { %>

            <th><ul class="details">
              <li><a href="#"><%= leave[i].emp.name %></a></li>
            </ul></th>
              
            <th><ul class="details">
              <li><a href="#"><%= leave[i].leave.from %></a></li>
            </ul></th>

            <th><ul class="details">
              <li><a href="#"><%= leave[i].leave.to %></a></li>
            </ul></th>
            
            <th><ul class="details">
              <li><a href="#"><%= leave[i].leave.reason_for_leave %></a></li>
            </ul></th>


            <th><ul class="details" id="<%= leave[i].leave.id %>">
                <% if(leave[i].leave.status  === "Approved"){ %>
                <p>Approved</p>
                <% } else if(leave[i].leave.status  === "Disapproved"){ %>
                <p>Disapproved</p>
                <% } else { %>
                  <button><li><a href="#" style="text-align:center;color:rgb(31, 193, 31);" id="approve" onclick="updateStatusOnClick([{id:`<%= leave[i].leave.id %>`}, {status: 'Approved'}])"><i class='bx bxs-message-square-check approved'></i></li></button>
                    <button><li><a href="#" style="text-align:center;color:red;" id="disapproved" onclick="updateStatusOnClick([{id:`<%= leave[i].leave.id %>`}, {status: 'Disapproved'}])"><i class='bx bxs-message-square-x Del-Emp disapproved'></i></li></button>
                <% } %>
            </ul></th>
      
            </tr>
          </div>
      </div>
      <% } %>

      </table><br>
          
        </div>
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}



async function updateStatusOnClick(data){
    const abc = document.getElementById("approve");
    // console.log(data[0].id,data[1].status );
    // console.log(typeof data[0].id, "data>>>>>>>>>>>>>>>>>>>>>>>>>>>");
    const status = await fetch(`/update-status/${data[0].id}`, {
      method:"PUT",
      body: JSON.stringify({"status":data[1].status}),
      headers:{ "Content-Type": "application/json"}
    });
    console.log(status.status);
    if (status.status === 200) {
      document.getElementById(`${data[0].id}`).innerHTML = data[1].status;
        }
    
};



 </script>

</body>
</html>

